update/
sysbackup/
hotfix/
AmutaQ!.conf.*
!AmutaQ!.conf.sample
2015*
temp
*.conf
!cif.conf
*.tmp
*.txt
*.tar
*.tgz
*.blk
test*
bazaarvc*
*.idx
*.cloud
astop
noautostart
skipcrc
stop
switch
waita
wait
ASYNC_*
release.inf
